<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),  url('<%= cl_image_path list.photo.key, crop: :fill %>');">
  <div class="container text-center">
    <h1><%= @list.name %> movies</h1>
  </div>
</div>
